.book {
  display: flex;
  flex-direction: column;
}

.book p {
  font-size: 0.97rem;
  color: var(--bgColor);
}

.book a {
  font-size: 0.97rem;
  color: var(--blue);
  text-decoration: none;
}

.bookAction {
  color: var(--bg-border);
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.8em 0;
  width: 80%;
}

.progress {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.progressDetail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.25em;
}

.progressDetail h4 {
  font-size: 1.47em;
  font-weight: 400;
}

.progress span {
  font-size: 0.77em;
  font-weight: 300;
}

.currentChapter {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.currentChapter p {
  font-size: 0.7em;
  text-transform: uppercase;
}

.currentChapter h4 {
  font-size: 1em;
  font-weight: 400;
}

.currentChapter button {
  background-color: var(--blue-100);
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 0.77em;
  padding: 0.37em;
  width: 50%;
  border-radius: 3px;
}

@media (min-width: 720px) {
  .book {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    width: 100%;
  }

  .aboutBook {
    flex: 2;
  }

  .bookAction {
    gap: 1em;
  }

  .book a {
    font-size: 0.97rem;
    color: var(--blue);
    text-decoration: none;
    padding-right: 1rem;
  }

  .progress {
    flex: 1;
    align-content: center;
    justify-content: center;
    gap: 0.47em;
  }

  .progress progress {
    width: 50px;
  }

  .currentChapter {
    flex: 1.5;
    padding: 0 1em;
  }

  .currentChapter button {
    width: fit-content;
    padding: 0.7em 0.97em;
  }
}
